{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ avatar }}">
        <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">邮箱：{{ user.email }}</p>
        {% if user.account.biography %}
        <p class="text-secondary">简介：{{ user.account.biography }}</p>
        {% endif %}
        </div>
    </div>
    <!-- 用户信息 -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if posts.page == 1 %}active{% endif %}" id="biography-tab" data-toggle="tab" href="#biography" role="tab" aria-controls="biography" aria-selected="true">关于我</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">联系</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if posts.page != 1 %}active{% endif %}" id="blog-tab" data-toggle="tab" href="#blog" role="tab" aria-controls="blog" aria-selected="false">博客</a>
        </li>
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">其他</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="#">博客</a>
            <a class="dropdown-item" href="#">评论</a>
            <a class="dropdown-item" href="#">动态</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">私信</a>
            </div>
        </li> -->
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade {% if posts.page == 1 %}show active{% endif %}" id="biography" role="tabpanel" aria-labelledby="biography-tab">
            {% if user.account.biography %}
            <p class="mt-3">{{user.account.biography}}</p>
            {% else %}
            <p class="mt-3">暂无</p>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <h5 class="border-bottom mb-2 mt-3">QQ:</h5>
            {% if user.account.qq %}
            <p>{{user.account.qq}}</p>
            {% else %}
            <p>暂无</p>
            {% endif %}   
            <h5 class="border-bottom mb-2">电话:</h5>
            {% if user.account.phone %}
            <p>{{user.account.phone}}</p>
            {% else %}
            <p>暂无</p>
            {% endif %}
        </div>
        <div class="tab-pane fade {% if posts.page != 1 %}show active{% endif %}" id="blog" role="tabpanel" aria-labelledby="blog-tab">
            <div  class="list-group">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                {% for post in posts.items %}
                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action article-title" href="{{ url_for('posts.post',post_id=post.id) }}">
                    {{ post.title }}
                    <span class="badge badge-primary badge-pill">{{post.created_time.strftime('%Y-%m-%d')}}</span>
                </a>
                {% else %}
                <p>暂无</p>
                {% endfor %}
            </div >
            <nav class="mt-3" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                    <a class="page-link" href="{{ url_for('users.user_detail',username=user.username,page=posts.prev_num) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
                    {% if page_num %}
                    <li class="page-item {% if page_num == posts.page %}active{% endif %}"><a class="page-link" href="{{ url_for('users.user_detail',username=user.username,page=page_num) }}">{{page_num}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link">...</a></li>
                    {% endif %}
                    {% endfor %}
                    <li class="page-item">
                    <a class="page-link" href="{{ url_for('users.user_detail',username=user.username,page=posts.next_num) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
            </nav> 
        </div>
    </div>                  
</div>

{% endblock content %}